USE [master]
GO
/****** Object:  Database [ebr]    Script Date: 1/15/2025 6:44:53 PM ******/
CREATE DATABASE [ebr]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ebr', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ebr.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ebr_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ebr_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ebr].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ebr]
GO
/****** Object:  User [EBR_Admin_Super]    Script Date: 1/15/2025 6:44:53 PM ******/
CREATE USER [EBR_Admin_Super] FOR LOGIN [EBR_Admin_Super] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [EBR_Admin_Super]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [EBR_Admin_Super]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [EBR_Admin_Super]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [EBR_Admin_Super]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [EBR_Admin_Super]
GO
ALTER ROLE [db_datareader] ADD MEMBER [EBR_Admin_Super]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [EBR_Admin_Super]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [EBR_Admin_Super]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [EBR_Admin_Super]
GO
/****** Object:  Schema [admin]    Script Date: 1/15/2025 6:44:53 PM ******/
CREATE SCHEMA [admin]
GO
/****** Object:  Table [admin].[Archivos]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[Archivos](
	[ArchivoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreArchivo] [nvarchar](255) NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[Periodo] [date] NOT NULL,
	[FechaCarga] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ArchivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[AuditLog]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[AuditLog](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action_type] [nvarchar](50) NOT NULL,
	[table_name] [nvarchar](50) NOT NULL,
	[record_id] [nvarchar](50) NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[ip_address] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [admin].[Companies]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[Companies](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [nvarchar](100) NOT NULL,
	[tax_identification_type] [nvarchar](10) NOT NULL,
	[tax_id] [nvarchar](20) NOT NULL,
	[email] [nvarchar](100) NULL,
	[num_employees] [int] NULL,
	[company_type] [nvarchar](50) NULL,
	[address] [nvarchar](200) NULL,
	[phone] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[subscription_type] [nvarchar](50) NOT NULL,
	[subscription_id] [int] NULL,
	[subscription_end_date] [date] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tax_id] UNIQUE NONCLUSTERED 
(
	[tax_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tax_id_type] UNIQUE NONCLUSTERED 
(
	[tax_identification_type] ASC,
	[tax_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[DatosContables]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[DatosContables](
	[DatoID] [int] IDENTITY(1,1) NOT NULL,
	[ArchivoID] [int] NOT NULL,
	[NivelID] [nvarchar](100) NOT NULL,
	[Transaccional] [bit] NOT NULL,
	[CodigoCuenta] [nvarchar](50) NOT NULL,
	[NombreCuenta] [nvarchar](255) NOT NULL,
	[SaldoInicial] [decimal](18, 2) NOT NULL,
	[Debito] [decimal](18, 2) NOT NULL,
	[Credito] [decimal](18, 2) NOT NULL,
	[SaldoFinal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DatoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[EmpresaSubscripciones]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[EmpresaSubscripciones](
	[EmpresaSubscripcionID] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[SubscripcionID] [int] NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpresaSubscripcionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[error_logs]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[error_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[error_message] [nvarchar](4000) NULL,
	[error_severity] [int] NULL,
	[error_state] [int] NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[Funcionalidades]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[Funcionalidades](
	[FuncionalidadID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[FuncionalidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[logs]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime] NULL,
	[user_id] [int] NULL,
	[action_type] [nvarchar](50) NULL,
	[action_details] [nvarchar](max) NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](max) NULL,
	[error] [bit] NULL,
	[error_details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [admin].[logs_bakend]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[logs_bakend](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime] NULL,
	[user_id] [int] NULL,
	[action_type] [nvarchar](50) NULL,
	[action_details] [nvarchar](max) NULL,
	[error] [bit] NULL,
	[error_details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [admin].[Permissions]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[Permissions](
	[permission_id] [int] IDENTITY(1,1) NOT NULL,
	[permission_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[permission_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[PrediccioneEmpresa_x_Producto]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[PrediccioneEmpresa_x_Producto](
	[ID_Prediccion] [int] IDENTITY(1,1) NOT NULL,
	[NIT_Empresa] [nvarchar](20) NOT NULL,
	[Codigo_Producto] [nvarchar](50) NOT NULL,
	[Nombre_Producto] [nvarchar](50) NOT NULL,
	[Año] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[Presupuesto_Predicho] [decimal](18, 2) NOT NULL,
	[Fecha_Creacion] [datetime] NOT NULL,
	[Usuario_Creador] [nvarchar](100) NOT NULL,
	[Fecha_Actualizacion] [datetime] NULL,
	[Usuario_Actualizador] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Prediccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[PrediccionesPresupuesto_x_Empresa]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[PrediccionesPresupuesto_x_Empresa](
	[Nit_Empresa] [nvarchar](20) NOT NULL,
	[Anio_Prediccion] [int] NOT NULL,
	[Mes] [nvarchar](20) NOT NULL,
	[Valor_Predicho] [decimal](18, 2) NOT NULL,
	[Tendencia] [nvarchar](50) NOT NULL,
	[Coeficiente_Diferencia] [decimal](18, 2) NOT NULL,
	[Fecha_Generacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Nit_Empresa] ASC,
	[Anio_Prediccion] ASC,
	[Mes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[PresupuestoCosto]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[PresupuestoCosto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NIT] [nvarchar](20) NOT NULL,
	[Producto] [nvarchar](50) NULL,
	[CodigoProducto] [nvarchar](20) NULL,
	[Enero] [decimal](18, 2) NULL,
	[Febrero] [decimal](18, 2) NULL,
	[Marzo] [decimal](18, 2) NULL,
	[Abril] [decimal](18, 2) NULL,
	[Mayo] [decimal](18, 2) NULL,
	[Junio] [decimal](18, 2) NULL,
	[Julio] [decimal](18, 2) NULL,
	[Agosto] [decimal](18, 2) NULL,
	[Septiembre] [decimal](18, 2) NULL,
	[Octubre] [decimal](18, 2) NULL,
	[Noviembre] [decimal](18, 2) NULL,
	[Diciembre] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[usuario_insercion] [nvarchar](50) NOT NULL,
	[fecha_insercion] [datetime2](7) NOT NULL,
	[AnioPresupuesto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[PresupuestoGasto]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[PresupuestoGasto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NIT] [nvarchar](20) NOT NULL,
	[Producto] [nvarchar](50) NULL,
	[CodigoProducto] [nvarchar](20) NULL,
	[Enero] [decimal](18, 2) NULL,
	[Febrero] [decimal](18, 2) NULL,
	[Marzo] [decimal](18, 2) NULL,
	[Abril] [decimal](18, 2) NULL,
	[Mayo] [decimal](18, 2) NULL,
	[Junio] [decimal](18, 2) NULL,
	[Julio] [decimal](18, 2) NULL,
	[Agosto] [decimal](18, 2) NULL,
	[Septiembre] [decimal](18, 2) NULL,
	[Octubre] [decimal](18, 2) NULL,
	[Noviembre] [decimal](18, 2) NULL,
	[Diciembre] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[usuario_insercion] [nvarchar](50) NOT NULL,
	[fecha_insercion] [datetime2](7) NOT NULL,
	[AnioPresupuesto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[PresupuestoIngreso]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[PresupuestoIngreso](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NIT] [nvarchar](20) NOT NULL,
	[Producto] [nvarchar](50) NULL,
	[CodigoProducto] [nvarchar](20) NULL,
	[Enero] [decimal](18, 2) NULL,
	[Febrero] [decimal](18, 2) NULL,
	[Marzo] [decimal](18, 2) NULL,
	[Abril] [decimal](18, 2) NULL,
	[Mayo] [decimal](18, 2) NULL,
	[Junio] [decimal](18, 2) NULL,
	[Julio] [decimal](18, 2) NULL,
	[Agosto] [decimal](18, 2) NULL,
	[Septiembre] [decimal](18, 2) NULL,
	[Octubre] [decimal](18, 2) NULL,
	[Noviembre] [decimal](18, 2) NULL,
	[Diciembre] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[usuario_insercion] [nvarchar](50) NOT NULL,
	[fecha_insercion] [datetime2](7) NOT NULL,
	[AnioPresupuesto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[PresupuestoSugerido]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[PresupuestoSugerido](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NIT] [nvarchar](20) NOT NULL,
	[Producto] [nvarchar](50) NULL,
	[Enero] [decimal](18, 2) NULL,
	[Febrero] [decimal](18, 2) NULL,
	[Marzo] [decimal](18, 2) NULL,
	[Abril] [decimal](18, 2) NULL,
	[Mayo] [decimal](18, 2) NULL,
	[Junio] [decimal](18, 2) NULL,
	[Julio] [decimal](18, 2) NULL,
	[Agosto] [decimal](18, 2) NULL,
	[Septiembre] [decimal](18, 2) NULL,
	[Octubre] [decimal](18, 2) NULL,
	[Noviembre] [decimal](18, 2) NULL,
	[Diciembre] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[usuario_insercion] [nvarchar](50) NOT NULL,
	[fecha_insercion] [datetime2](7) NOT NULL,
	[AnioPresupuesto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[PresupuestoSugerido_anual]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[PresupuestoSugerido_anual](
	[NIT] [nvarchar](20) NOT NULL,
	[AnioPresupuesto] [int] NOT NULL,
	[Total] [decimal](18, 2) NULL,
	[usuario_insercion] [nvarchar](50) NOT NULL,
	[fecha_insercion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NIT] ASC,
	[AnioPresupuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[RolePermissions]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[RolePermissions](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[Roles]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[SalaryAndInflationData]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[SalaryAndInflationData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Anio] [int] NOT NULL,
	[ValorSalario] [decimal](18, 2) NOT NULL,
	[PorcentajeIncremento] [decimal](5, 2) NOT NULL,
	[ValorSubsidioTransporte] [decimal](18, 2) NOT NULL,
	[PorcentajeInflacion] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[SubscripcionFuncionalidades]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[SubscripcionFuncionalidades](
	[SubscripcionFuncionalidadID] [int] IDENTITY(1,1) NOT NULL,
	[SubscripcionID] [int] NOT NULL,
	[FuncionalidadID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubscripcionFuncionalidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[subscription]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[subscription](
	[id_subscription] [int] IDENTITY(1,1) NOT NULL,
	[subscription_name] [nvarchar](20) NOT NULL,
	[description_time] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_subscription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[Users]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[last_login] [datetime] NULL,
	[login_attempts] [int] NULL,
	[password_reset_token] [nvarchar](255) NULL,
	[password_reset_expires] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [admin].[UsuariosRoles]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[UsuariosRoles](
	[UsuarioRolID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[RolID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioRolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ID_Prediccion]    Script Date: 1/15/2025 6:44:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_ID_Prediccion] ON [admin].[PrediccioneEmpresa_x_Producto]
(
	[ID_Prediccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NIT_Empresa]    Script Date: 1/15/2025 6:44:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_NIT_Empresa] ON [admin].[PrediccioneEmpresa_x_Producto]
(
	[NIT_Empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [admin].[Archivos] ADD  DEFAULT (getdate()) FOR [FechaCarga]
GO
ALTER TABLE [admin].[AuditLog] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [admin].[Companies] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [admin].[Companies] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [admin].[Companies] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [admin].[Companies] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [admin].[EmpresaSubscripciones] ADD  DEFAULT (getdate()) FOR [FechaInicio]
GO
ALTER TABLE [admin].[error_logs] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [admin].[logs] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [admin].[logs] ADD  DEFAULT ((0)) FOR [error]
GO
ALTER TABLE [admin].[logs_bakend] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [admin].[logs_bakend] ADD  DEFAULT ((0)) FOR [error]
GO
ALTER TABLE [admin].[Permissions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [admin].[PrediccioneEmpresa_x_Producto] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [admin].[PrediccionesPresupuesto_x_Empresa] ADD  DEFAULT (getdate()) FOR [Fecha_Generacion]
GO
ALTER TABLE [admin].[RolePermissions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [admin].[Roles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [admin].[subscription] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [admin].[Users] ADD  DEFAULT ((0)) FOR [login_attempts]
GO
ALTER TABLE [admin].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [admin].[Users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [admin].[Users] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [admin].[Archivos]  WITH CHECK ADD FOREIGN KEY([EmpresaID])
REFERENCES [admin].[Companies] ([company_id])
GO
ALTER TABLE [admin].[AuditLog]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [admin].[Users] ([user_id])
GO
ALTER TABLE [admin].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Companies_Subscription] FOREIGN KEY([subscription_id])
REFERENCES [admin].[subscription] ([id_subscription])
GO
ALTER TABLE [admin].[Companies] CHECK CONSTRAINT [FK_Companies_Subscription]
GO
ALTER TABLE [admin].[DatosContables]  WITH CHECK ADD FOREIGN KEY([ArchivoID])
REFERENCES [admin].[Archivos] ([ArchivoID])
GO
ALTER TABLE [admin].[EmpresaSubscripciones]  WITH CHECK ADD FOREIGN KEY([EmpresaID])
REFERENCES [admin].[Companies] ([company_id])
GO
ALTER TABLE [admin].[EmpresaSubscripciones]  WITH CHECK ADD FOREIGN KEY([SubscripcionID])
REFERENCES [admin].[subscription] ([id_subscription])
GO
ALTER TABLE [admin].[PresupuestoCosto]  WITH CHECK ADD FOREIGN KEY([NIT], [AnioPresupuesto])
REFERENCES [admin].[PresupuestoSugerido_anual] ([NIT], [AnioPresupuesto])
GO
ALTER TABLE [admin].[PresupuestoGasto]  WITH CHECK ADD FOREIGN KEY([NIT], [AnioPresupuesto])
REFERENCES [admin].[PresupuestoSugerido_anual] ([NIT], [AnioPresupuesto])
GO
ALTER TABLE [admin].[PresupuestoIngreso]  WITH CHECK ADD FOREIGN KEY([NIT], [AnioPresupuesto])
REFERENCES [admin].[PresupuestoSugerido_anual] ([NIT], [AnioPresupuesto])
GO
ALTER TABLE [admin].[PresupuestoSugerido]  WITH CHECK ADD FOREIGN KEY([NIT], [AnioPresupuesto])
REFERENCES [admin].[PresupuestoSugerido_anual] ([NIT], [AnioPresupuesto])
GO
ALTER TABLE [admin].[PresupuestoSugerido_anual]  WITH CHECK ADD  CONSTRAINT [FK_PresupuestoSugerido_anual_NIT] FOREIGN KEY([NIT])
REFERENCES [admin].[Companies] ([tax_id])
GO
ALTER TABLE [admin].[PresupuestoSugerido_anual] CHECK CONSTRAINT [FK_PresupuestoSugerido_anual_NIT]
GO
ALTER TABLE [admin].[RolePermissions]  WITH CHECK ADD FOREIGN KEY([permission_id])
REFERENCES [admin].[Permissions] ([permission_id])
GO
ALTER TABLE [admin].[RolePermissions]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [admin].[Roles] ([role_id])
GO
ALTER TABLE [admin].[SubscripcionFuncionalidades]  WITH CHECK ADD FOREIGN KEY([FuncionalidadID])
REFERENCES [admin].[Funcionalidades] ([FuncionalidadID])
GO
ALTER TABLE [admin].[SubscripcionFuncionalidades]  WITH CHECK ADD FOREIGN KEY([SubscripcionID])
REFERENCES [admin].[subscription] ([id_subscription])
GO
ALTER TABLE [admin].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Companies] FOREIGN KEY([company_id])
REFERENCES [admin].[Companies] ([company_id])
GO
ALTER TABLE [admin].[Users] CHECK CONSTRAINT [FK_Users_Companies]
GO
ALTER TABLE [admin].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([role_id])
REFERENCES [admin].[Roles] ([role_id])
GO
ALTER TABLE [admin].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [admin].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Subscription] FOREIGN KEY([role_id])
REFERENCES [admin].[subscription] ([id_subscription])
GO
ALTER TABLE [admin].[Users] CHECK CONSTRAINT [FK_Users_Subscription]
GO
ALTER TABLE [admin].[UsuariosRoles]  WITH CHECK ADD FOREIGN KEY([RolID])
REFERENCES [admin].[Roles] ([role_id])
GO
ALTER TABLE [admin].[UsuariosRoles]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [admin].[Users] ([user_id])
GO
ALTER TABLE [admin].[PrediccioneEmpresa_x_Producto]  WITH CHECK ADD CHECK  (([Mes]>=(1) AND [Mes]<=(12)))
GO
/****** Object:  StoredProcedure [admin].[ConsultaPrediccionPresupuesto]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [admin].[ConsultaPrediccionPresupuesto]
    @Nit_Empresa NVARCHAR(20),
    @Anio_Prediccion INT
AS
BEGIN
    BEGIN TRY
        -- Consultar datos filtrados por NIT y Año
        SELECT 
            Nit_Empresa,
            Anio_Prediccion,
            Mes,
            Valor_Predicho,
            Tendencia,
            Coeficiente_Diferencia,
            Fecha_Generacion
        FROM [Admin].[PrediccionesPresupuesto_x_Empresa]
        WHERE Nit_Empresa = @Nit_Empresa AND Anio_Prediccion = @Anio_Prediccion;

        -- Si no hay resultados, enviar mensaje
        IF NOT EXISTS (
            SELECT 1 
            FROM [Admin].[PrediccionesPresupuesto_x_Empresa]
            WHERE Nit_Empresa = @Nit_Empresa AND Anio_Prediccion = @Anio_Prediccion
        )
        BEGIN
            SELECT 'No se encontraron predicciones para los parámetros especificados.' AS Mensaje;
        END
    END TRY
    BEGIN CATCH
        -- Manejo de errores
        SELECT 
            ERROR_MESSAGE() AS ErrorMensaje, 
            ERROR_NUMBER() AS ErrorNumero, 
            ERROR_SEVERITY() AS ErrorSeveridad;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [admin].[CreateUser]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP para crear un usuario
CREATE   PROCEDURE [admin].[CreateUser]
    @company_id INT,
    @first_name NVARCHAR(50),
    @last_name NVARCHAR(50),
    @email NVARCHAR(100),
    @password_hash NVARCHAR(255),
    @role_id INT,
    @subscription_id INT,  
    @active BIT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Validar que el subscription_id exista
        IF NOT EXISTS (SELECT 1 FROM admin.subscription WHERE id_subscription = @subscription_id)
        BEGIN
            RAISERROR('El ID de suscripción proporcionado no existe.', 16, 1);
            RETURN;
        END

        -- Validar que el email no exista ya
        IF EXISTS (SELECT 1 FROM admin.Users WHERE email = @email AND active = 1)
        BEGIN
            RAISERROR('Ya existe un usuario con este correo electrónico.', 16, 1);
            RETURN;
        END

        INSERT INTO admin.Users (
            company_id,
            first_name,
            last_name,
            email,
            password_hash,
            role_id,            
            active,
            created_at,
            updated_at
        )
        VALUES (
            @company_id,
            @first_name,
            @last_name,
            @email,
            @password_hash,
            @role_id,            
            @active,
            GETDATE(),
            GETDATE()
        );
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [admin].[GetRoles]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento almacenado para obtener el role_id basado en la subscription
CREATE   PROCEDURE [admin].[GetRoles]
    @id_subscription INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Validar que la subscription exista
        IF NOT EXISTS (SELECT 1 FROM admin.subscription WHERE id_subscription = @id_subscription)
        BEGIN
            THROW 50001, 'La subscripción especificada no existe.', 1;
        END

        -- Declaramos variable para almacenar el role_id
        DECLARE @role_id INT;
        
        -- Obtenemos el role_id correspondiente a la subscription
        SELECT @role_id = role_id
        FROM admin.Roles
        WHERE id_subscription = @id_subscription;
        
        -- Si no encontramos un rol específico para la subscription, asignamos el rol Admin por defecto
        IF @role_id IS NULL
        BEGIN
            SELECT @role_id = role_id
            FROM admin.Roles r
            INNER JOIN admin.subscription s ON r.id_subscription = s.id_subscription
            WHERE r.role_name = 'Admin';
        END
        
        -- Retornamos el role_id y información adicional útil
        SELECT 
            r.role_id,
            r.role_name,
            s.subscription_name
        FROM admin.Roles r
        INNER JOIN admin.subscription s ON r.id_subscription = s.id_subscription
        WHERE r.role_id = @role_id;
        
    END TRY
    BEGIN CATCH
        SELECT  
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [admin].[GuardarPrediccionPresupuesto]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [admin].[GuardarPrediccionPresupuesto]
       @Nit_Empresa NVARCHAR(50),
       @Anio_Prediccion INT,
       @Mes NVARCHAR(20),
       @Valor_Predicho DECIMAL(18, 2),
       @Tendencia NVARCHAR(50),
       @Coeficiente_Diferencia DECIMAL(18, 2)
   AS
   BEGIN
       BEGIN TRY
           -- Comenzar transacción
           BEGIN TRANSACTION;

           -- Verificar si ya existe un registro con el mismo Nit_Empresa y Anio_Prediccion
           IF EXISTS (
               SELECT 1
               FROM [Admin].[PrediccionesPresupuesto_x_Empresa]
               WHERE Nit_Empresa = @Nit_Empresa
                 AND Anio_Prediccion = @Anio_Prediccion
                 AND Mes = @Mes
           )
           BEGIN
               -- Actualizar el registro existente
               UPDATE [Admin].[PrediccionesPresupuesto_x_Empresa]
               SET 
                   Valor_Predicho = @Valor_Predicho,
                   Tendencia = @Tendencia,
                   Coeficiente_Diferencia = @Coeficiente_Diferencia,
                   Fecha_Generacion = GETDATE()
               WHERE Nit_Empresa = @Nit_Empresa
                 AND Anio_Prediccion = @Anio_Prediccion
                 AND Mes = @Mes;

               SELECT 'Predicción actualizada exitosamente.' AS Mensaje;
           END
           ELSE
           BEGIN
               -- Insertar un nuevo registro
               INSERT INTO [Admin].[PrediccionesPresupuesto_x_Empresa] (
                   Nit_Empresa, Anio_Prediccion, Mes, 
                   Valor_Predicho, Tendencia, Coeficiente_Diferencia, Fecha_Generacion
               )
               VALUES (
                   @Nit_Empresa, @Anio_Prediccion, @Mes, 
                   @Valor_Predicho, @Tendencia, @Coeficiente_Diferencia, GETDATE()
               );

               SELECT 'Predicción guardada exitosamente.' AS Mensaje;
           END

           -- Confirmar transacción
           COMMIT TRANSACTION;

           -- Agregar un SELECT al final para devolver un mensaje
           SELECT 'Operación completada' AS Mensaje;
       END TRY
       BEGIN CATCH
           -- Revertir transacción en caso de error
           ROLLBACK TRANSACTION;

           -- Manejo de errores
           DECLARE @ErrorMensaje NVARCHAR(4000);
           DECLARE @ErrorNumero INT;
           DECLARE @ErrorSeveridad INT;
           DECLARE @ErrorEstado INT;
           DECLARE @ErrorLinea INT;

           SET @ErrorMensaje = ERROR_MESSAGE();
           SET @ErrorNumero = ERROR_NUMBER();
           SET @ErrorSeveridad = ERROR_SEVERITY();
           SET @ErrorEstado = ERROR_STATE();
           SET @ErrorLinea = ERROR_LINE();

           SELECT 
               @ErrorMensaje AS ErrorMensaje, 
               @ErrorNumero AS ErrorNumero, 
               @ErrorSeveridad AS ErrorSeveridad,
               @ErrorEstado AS ErrorEstado,
               @ErrorLinea AS ErrorLinea;
       END CATCH
   END;
GO
/****** Object:  StoredProcedure [admin].[InsertarArchivo]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [admin].[InsertarArchivo]
    @NombreArchivo NVARCHAR(255),
    @EmpresaID INT,
    @Periodo DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
    DECLARE @ArchivoID INT;

    BEGIN TRY        
        -- Validar que el NombreArchivo no esté vacío
        IF @NombreArchivo IS NULL OR LTRIM(RTRIM(@NombreArchivo)) = ''
        BEGIN
            RAISERROR('El nombre del archivo no puede estar vacío.', 16, 1);
        END

        -- Validar que el Periodo no sea nulo
        IF @Periodo IS NULL
        BEGIN
            RAISERROR('El periodo no puede ser nulo.', 16, 1);
        END

        -- Validar que no exista un archivo para el mismo EmpresaID y Periodo
        IF EXISTS (SELECT 1 FROM Admin.Archivos WHERE EmpresaID = @EmpresaID AND Periodo = @Periodo)
        BEGIN
            SET @ErrorMessage = 'Archivo repetido para el periodo ' + CONVERT(NVARCHAR, @Periodo, 120);
            RAISERROR(@ErrorMessage, 16, 1);
        END

        -- Insertar el nuevo archivo
        INSERT INTO Admin.Archivos (NombreArchivo, EmpresaID, Periodo)
        VALUES (@NombreArchivo, @EmpresaID, @Periodo);

        -- Obtener el ID del archivo insertado
        SET @ArchivoID = SCOPE_IDENTITY();

        -- Retornar el ArchivoID
        SELECT @ArchivoID AS ArchivoID;
    END TRY
    BEGIN CATCH
        -- Capturar y manejar los errores
        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ErrorSeverity = ERROR_SEVERITY();
        SET @ErrorState = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [admin].[InsertarEmpresa]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Store Procedure para insertar Empresas
CREATE PROCEDURE [admin].[InsertarEmpresa]
    @NombreEmpresa NVARCHAR(255),
    @NIT NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
    DECLARE @EmpresaID INT;

    BEGIN TRY
        -- Validar que el NIT ya exista
        SELECT @EmpresaID = EmpresaID
        FROM Admin.Empresas
        WHERE NIT = @NIT;

        -- Si el NIT ya existe, retornar el EmpresaID
        IF @EmpresaID IS NOT NULL
        BEGIN
            SELECT @EmpresaID AS EmpresaID;
            RETURN;
        END

        -- Validar que el NombreEmpresa no esté vacío
        IF @NombreEmpresa IS NULL OR LTRIM(RTRIM(@NombreEmpresa)) = ''
        BEGIN
            RAISERROR('El nombre de la empresa no puede estar vacío.', 16, 1);
        END

        -- Insertar la nueva empresa
        INSERT INTO Admin.Empresas (NombreEmpresa, NIT)
        VALUES (@NombreEmpresa, @NIT);

        -- Obtener el ID de la empresa insertada
        SET @EmpresaID = SCOPE_IDENTITY();

        -- Retornar el EmpresaID
        SELECT @EmpresaID AS EmpresaID;
    END TRY
    BEGIN CATCH
        -- Capturar y manejar los errores
        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ErrorSeverity = ERROR_SEVERITY();
        SET @ErrorState = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [admin].[SaveLog]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [admin].[SaveLog]
    @user_id INT = NULL,
    @action_type NVARCHAR(50),
    @action_details NVARCHAR(MAX) = NULL,
    @ip_address NVARCHAR(45) = NULL,
    @user_agent NVARCHAR(MAX) = NULL,
    @error BIT = 0,
    @error_details NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Validación de parámetros obligatorios
        IF @action_type IS NULL OR LTRIM(RTRIM(@action_type)) = ''
        BEGIN
            RAISERROR('El campo action_type es obligatorio.', 16, 1);
            RETURN;
        END

        -- Inserción en la tabla logs
        INSERT INTO Admin.logs (user_id, action_type, action_details, ip_address, user_agent, error, error_details)
        VALUES (@user_id, @action_type, @action_details, @ip_address, @user_agent, @error, @error_details);
    END TRY
    BEGIN CATCH
        -- Capturar detalles del error
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Opcional: Insertar en una tabla de errores (Admin.error_logs)
        IF OBJECT_ID('Admin.error_logs') IS NOT NULL
        BEGIN
            INSERT INTO Admin.error_logs (error_message, error_severity, error_state, timestamp)
            VALUES (@ErrorMessage, @ErrorSeverity, @ErrorState, GETDATE());
        END

        -- Lanzar el error capturado
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [admin].[SaveLogBakend]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     PROCEDURE [admin].[SaveLogBakend]
    @user_id INT = NULL,
    @action_type NVARCHAR(50),
    @action_details NVARCHAR(MAX) = NULL,
    @error BIT = 0,
    @error_details NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY        
        IF @action_type IS NULL OR LTRIM(RTRIM(@action_type)) = ''
        BEGIN
            RAISERROR('El campo action_type es obligatorio.', 16, 1);
            RETURN;
        END
        -- Inserción en la tabla Bakendlogs
        INSERT INTO Admin.logs_bakend (user_id, action_type, action_details, error, error_details)
        VALUES (@user_id, @action_type, @action_details, @error, @error_details);
    END TRY
    BEGIN CATCH
        -- Capturar detalles del error
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Opcional: Insertar en una tabla de errores (Admin.error_logs)
        IF OBJECT_ID('Admin.error_logs') IS NOT NULL
        BEGIN
            INSERT INTO Admin.error_logs (error_message, error_severity, error_state, timestamp)
            VALUES (@ErrorMessage, @ErrorSeverity, @ErrorState, GETDATE());
        END

        -- Lanzar el error capturado
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [admin].[sp_ChangeCompanyStatus]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para cambiar el estado de una empresa
CREATE   PROCEDURE [admin].[sp_ChangeCompanyStatus]
    @company_id INT,
    @status NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM admin.Companies WHERE company_id = @company_id)
            THROW 50000, 'La empresa no existe.', 1;

        IF @status NOT IN ('ACTIVE', 'SUSPENDED', 'CANCELLED')
            THROW 50000, 'Estado no válido. Los estados permitidos son: ACTIVE, SUSPENDED, CANCELLED', 1;

        UPDATE admin.Companies
        SET 
            status = @status,
            updated_at = GETDATE()
        WHERE company_id = @company_id;

        SELECT @company_id as company_id;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [admin].[sp_Consulta_si_presupuesto_Sugerido_Anual]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create     PROCEDURE [admin].[sp_Consulta_si_presupuesto_Sugerido_Anual]
    @NIT_Empresa NVARCHAR(20),            
    @Anio INT = NULL                       
AS
BEGIN
    BEGIN TRY        
        SET NOCOUNT ON;

        -- Validar parámetros obligatorios
        IF @NIT_Empresa IS NULL
        BEGIN
            RAISERROR('El parámetro @NIT_Empresa es obligatorio.', 16, 1);
            RETURN;
        END
        IF @Anio IS NULL
        BEGIN
            RAISERROR('El parámetro @Año es obligatorio.', 16, 1);
            RETURN;
        END

        -- Verificar si hay resultados
        IF EXISTS (
            SELECT 1
            FROM Admin.PresupuestoSugerido_anual
            WHERE Nit = @NIT_Empresa
              AND AnioPresupuesto = @Anio
        )
        BEGIN
            -- Devolver resultados si existen
            SELECT NIT
            FROM Admin.PresupuestoSugerido_anual
            WHERE Nit = @NIT_Empresa
              AND AnioPresupuesto = @Anio;
        END
        ELSE
        BEGIN
            -- Devolver mensaje si no hay resultados
            SELECT 'No se encontraron datos para los parámetros especificados.' AS Mensaje;
        END
    END TRY
    BEGIN CATCH               
        -- Obtener información del error
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
        -- Mostrar el mensaje de error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [admin].[sp_CreateCompany]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [admin].[sp_CreateCompany]
    @company_name NVARCHAR(100),
    @tax_identification_type NVARCHAR(10),
    @tax_id NVARCHAR(20),
    @email NVARCHAR(100) = NULL,
    @num_employees INT = NULL,
    @company_type NVARCHAR(50) = NULL,
    @address NVARCHAR(200) = NULL,
    @phone NVARCHAR(20) = NULL,
    @subscription_type NVARCHAR(20),
    @subscription_id INT,
    @subscription_end_date DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @NewCompanyId INT;
    
    BEGIN TRY
        -- Validar que subscription_id no sea nulo
        IF @subscription_id IS NULL
        BEGIN
            RAISERROR('El ID de suscripción es obligatorio.', 16, 1);
            RETURN;
        END

        -- Validar que el subscription_id exista en la tabla subscription
        IF NOT EXISTS (
            SELECT 1 
            FROM admin.subscription 
            WHERE id_subscription = @subscription_id
        )
        BEGIN
            RAISERROR('El ID de suscripción proporcionado no existe.', 16, 1);
            RETURN;
        END

        -- Verificar si ya existe la combinación de tipo y número de identificación fiscal
        IF EXISTS (
            SELECT 1 
            FROM admin.Companies 
            WHERE tax_identification_type = @tax_identification_type 
            AND tax_id = @tax_id
            AND active = 1
        )
        BEGIN
            RAISERROR('La combinación de tipo y número de identificación fiscal ya existe.', 16, 1);
            RETURN;
        END

        -- Verificar si ya existe el email (si no es nulo)
        IF @email IS NOT NULL AND EXISTS (
            SELECT 1 
            FROM admin.Companies 
            WHERE email = @email 
            AND active = 1
        )
        BEGIN
            RAISERROR('Ya existe una empresa con este correo electrónico.', 16, 1);
            RETURN;
        END

        -- Insertar la nueva compañía
        INSERT INTO admin.Companies (
            company_name,
            tax_identification_type,
            tax_id,
            email,
            num_employees,
            company_type,
            address,
            phone,
            subscription_type,
            subscription_id,
            subscription_end_date,
            status,
            active
        )
        VALUES (
            @company_name,
            @tax_identification_type,
            @tax_id,
            @email,
            @num_employees,
            @company_type,
            @address,
            @phone,
            @subscription_type,
            @subscription_id, 
            @subscription_end_date,
            'ACTIVE',
            1
        );

        SET @NewCompanyId = SCOPE_IDENTITY();
        
        -- Retornar el ID de la compañía y el subscription_id
        SELECT 
            @NewCompanyId as company_id,
            @subscription_id as subscription_id;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [admin].[sp_DeleteCompany]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para eliminar una empresa (borrado lógico)
CREATE   PROCEDURE [admin].[sp_DeleteCompany]
    @company_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM admin.Companies WHERE company_id = @company_id AND active = 1)
            THROW 50000, 'La empresa no existe o ya está eliminada.', 1;

        -- Verificar si hay usuarios asociados
        IF EXISTS (SELECT 1 FROM admin.Users WHERE company_id = @company_id AND active = 1)
            THROW 50000, 'No se puede eliminar la empresa porque tiene usuarios activos asociados.', 1;

        UPDATE admin.Companies
        SET 
            active = 0,
            updated_at = GETDATE(),
            status = 'CANCELLED'
        WHERE company_id = @company_id;

        SELECT @company_id as company_id;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [admin].[sp_for_Costo]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [admin].[sp_for_Costo]    
    @NIT_Empresa NVARCHAR(50)   -- NIT de la empresa
AS
BEGIN
    SET NOCOUNT ON;
		BEGIN TRY
			SELECT  dat.CodigoCuenta,
					dat.NombreCuenta,
					YEAR(arc.Periodo) AS Anio,
					MONTH(arc.Periodo) AS Mes,
					SUM(dat.debito) AS TotalDebito,
					SUM(dat.credito) AS TotalCredito,
					SUM(dat.debito)  - SUM(dat.credito) AS Costo
				FROM admin.companies emp
				INNER JOIN admin.Archivos arc ON emp.company_id = arc.empresaId
				INNER JOIN admin.DatosContables dat ON dat.ArchivoID = arc.archivoId
				WHERE emp.tax_id = @NIT_Empresa
				  AND LEN(dat.CodigoCuenta) = 8
				  AND (dat.CodigoCuenta LIKE '6%') 		  
				  AND YEAR(arc.Periodo) = YEAR(GETDATE()) - 1 -- Filtrar por el año anterior
				GROUP BY 
					dat.CodigoCuenta, 
					dat.NombreCuenta, 
					YEAR(arc.Periodo), 
					MONTH(arc.Periodo)
				ORDER BY 
					dat.CodigoCuenta, 
					Anio, 
					Mes;
		END TRY
			BEGIN CATCH			
				PRINT 'Ocurrió un error:';
				PRINT 'Mensaje: ' + ERROR_MESSAGE();
				PRINT 'Número de Error: ' + CAST(ERROR_NUMBER() AS NVARCHAR);
				PRINT 'Estado: ' + CAST(ERROR_STATE() AS NVARCHAR);
			END CATCH
	END;
GO
/****** Object:  StoredProcedure [admin].[sp_for_Gasto]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create     PROCEDURE [admin].[sp_for_Gasto]    
    @NIT_Empresa NVARCHAR(50)   -- NIT de la empresa
AS
BEGIN
    SET NOCOUNT ON;
		BEGIN TRY
			-- Declarar una variable para el porcentaje de incremento
			DECLARE @PorcentajeIncremento DECIMAL(10, 2);
			-- Obtener el porcentaje de incremento del año actual
			SELECT @PorcentajeIncremento = PorcentajeIncremento
			FROM admin.SalaryAndInflationData
			WHERE Anio = YEAR(GETDATE());

			-- Consulta principal con ajuste en "Gasto"
			SELECT  
				dat.CodigoCuenta,
				dat.NombreCuenta,
				YEAR(arc.Periodo) AS Anio,
				MONTH(arc.Periodo) AS Mes,
				SUM(dat.debito) AS TotalDebito,
				SUM(dat.credito) AS TotalCredito,
				CASE 
					WHEN dat.CodigoCuenta IN ('510506', '520506') 
					THEN (SUM(dat.debito) - SUM(dat.credito)) * (1 + @PorcentajeIncremento / 100.0)
					ELSE SUM(dat.debito) - SUM(dat.credito)
				END AS Gasto
			FROM 
				admin.companies emp
			INNER JOIN 
				admin.Archivos arc ON emp.company_id = arc.empresaId
			INNER JOIN 
				admin.DatosContables dat ON dat.ArchivoID = arc.archivoId
			WHERE 
				emp.tax_id = @NIT_Empresa
				AND YEAR(arc.Periodo) = YEAR(GETDATE()) - 1
				AND (
					(LEN(dat.CodigoCuenta) = 6 AND (dat.CodigoCuenta LIKE '5105%')) -- Incluye valores 
					OR (dat.CodigoCuenta LIKE '5%' AND ((LEN(dat.CodigoCuenta) = 4) 
						AND (dat.CodigoCuenta NOT LIKE '5105%' AND dat.CodigoCuenta NOT LIKE '5205%')))
					OR (
						(LEN(dat.CodigoCuenta) = 6 AND (dat.CodigoCuenta LIKE '5205%')) -- Incluye valores 
						OR (dat.CodigoCuenta LIKE '5%' AND ((LEN(dat.CodigoCuenta) = 4) 
							AND (dat.CodigoCuenta NOT LIKE '5105%' AND dat.CodigoCuenta NOT LIKE '5205%')))
					)								
				)
			GROUP BY 
				dat.CodigoCuenta, 
				dat.NombreCuenta, 
				YEAR(arc.Periodo), 
				MONTH(arc.Periodo)
			ORDER BY 
				dat.CodigoCuenta, 
				Anio, 
				Mes;

		END TRY
			BEGIN CATCH			
				PRINT 'Ocurrió un error:';
				PRINT 'Mensaje: ' + ERROR_MESSAGE();
				PRINT 'Número de Error: ' + CAST(ERROR_NUMBER() AS NVARCHAR);
				PRINT 'Estado: ' + CAST(ERROR_STATE() AS NVARCHAR);
			END CATCH
	END;
GO
/****** Object:  StoredProcedure [admin].[sp_for_Product_Prediction_monthly]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [admin].[sp_for_Product_Prediction_monthly]    
    @NIT NVARCHAR(50),   -- NIT de la empresa
	@ultimoAnio BIT = 0  -- opcional para filtrar por el último año
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
		SELECT 
			dat.CodigoCuenta,
			dat.NombreCuenta,
			YEAR(arc.Periodo) AS Anio,
			MONTH(arc.Periodo) AS Mes,
			SUM(dat.debito) AS TotalDebito,
			SUM(dat.credito) AS TotalCredito,
			SUM(dat.credito) - SUM(dat.debito) AS TotalIngreso
		FROM admin.companies emp
		INNER JOIN admin.Archivos arc ON emp.company_id = arc.empresaId
		INNER JOIN admin.DatosContables dat ON dat.ArchivoID = arc.archivoId
		WHERE emp.tax_id = @NIT
		  AND LEN(dat.CodigoCuenta) >= 7
		  AND (dat.CodigoCuenta LIKE '41%' OR dat.CodigoCuenta LIKE '4%') -- Incluye valores que comiencen con 41 o 4
		  AND dat.CodigoCuenta NOT LIKE '4175%' -- Excluye valores que comiencen con 4175
		  --AND dat.CodigoCuenta NOT LIKE '4180%' -- Excluye valores que comiencen con 4175
		  AND dat.CodigoCuenta NOT LIKE '42%' -- Excluye valores que comiencen con 42
		  AND (@ultimoAnio = 0 OR YEAR(arc.Periodo) = YEAR(GETDATE()) - 1) -- Condición para último año
 
		GROUP BY 
			dat.CodigoCuenta, 
			dat.NombreCuenta, 
			YEAR(arc.Periodo), 
			MONTH(arc.Periodo)
		ORDER BY 
			dat.CodigoCuenta, 
			Anio, 
			Mes;

	END TRY
		BEGIN CATCH			
			PRINT 'Ocurrió un error:';
			PRINT 'Mensaje: ' + ERROR_MESSAGE();
			PRINT 'Número de Error: ' + CAST(ERROR_NUMBER() AS NVARCHAR);
			PRINT 'Estado: ' + CAST(ERROR_STATE() AS NVARCHAR);
		END CATCH
	END;
GO
/****** Object:  StoredProcedure [admin].[sp_get_Predicciones_empresa_producto]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Test:

exec Admin.sp_get_Predicciones_empresa_producto '901292126', '41350105', '2024'
exec Admin.sp_get_Predicciones_empresa_producto '901292126', 'null', '2024'
exec Admin.sp_get_Predicciones_empresa_producto '901292126', 'null', null

*/
-- Crear el procedimiento almacenado

CREATE   PROCEDURE [admin].[sp_get_Predicciones_empresa_producto]
    @NIT_Empresa NVARCHAR(20),                  -- Obligatorio
    @Codigo_Producto NVARCHAR(50) = NULL,      -- Opcional
    @Año INT = NULL                            -- Opcional
AS
BEGIN
    BEGIN TRY        
        BEGIN TRANSACTION;                
        IF @NIT_Empresa IS NULL
        BEGIN
            RAISERROR('El parámetro @NIT_Empresa es obligatorio.', 16, 1);
            RETURN;
        END

        -- Construir la consulta dinámica con los parámetros
        SELECT 
            ID_Prediccion,
            NIT_Empresa,
            Codigo_Producto,
			Nombre_Producto,
            Año,
            Mes,
            Presupuesto_Predicho,
            Fecha_Creacion,
            Usuario_Creador,
            Fecha_Actualizacion,
            Usuario_Actualizador
        FROM Admin.PrediccioneEmpresa_x_Producto
        WHERE 
            NIT_Empresa = @NIT_Empresa
            AND (@Codigo_Producto IS NULL OR Codigo_Producto = @Codigo_Producto)
            AND (@Año IS NULL OR Año = @Año);

        -- Confirmar la transacción
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Manejo de errores
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION; -- Revertir la transacción en caso de error
        END

        -- Obtener información del error
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Mostrar el mensaje de error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [admin].[sp_GetSubscriptionByName]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Para ejecutar:
-- EXEC admin.sp_GetSubscriptionNames;

--Sp para obtener id y nombre de subscripcion
CREATE   PROCEDURE [admin].[sp_GetSubscriptionByName]
    @subscription_name NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        id_subscription,
        subscription_name
    FROM 
        admin.subscription
    WHERE 
        UPPER(subscription_name) = UPPER(@subscription_name);
END;
GO
/****** Object:  StoredProcedure [admin].[sp_GetSubscriptionNames]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [admin].[sp_GetSubscriptionNames]
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        SELECT 
            id_subscription,
            subscription_name
        FROM 
            admin.subscription
        ORDER BY 
            id_subscription ASC;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [admin].[SP_guardar_presupuesto_sugerido_anual]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     PROCEDURE [admin].[SP_guardar_presupuesto_sugerido_anual]
    @AnioPresupuesto INT,
    @NIT NVARCHAR(20),
    @Total DECIMAL(18,2),
    @UsuarioInsercion NVARCHAR(50),
    @JsonCosto NVARCHAR(MAX),
    @JsonGasto NVARCHAR(MAX),
    @JsonIngreso NVARCHAR(MAX),
    @JsonSugerido NVARCHAR(MAX)
AS
BEGIN
SET NOCOUNT ON;
    BEGIN TRY        

        -- Insertar en la tabla PresupuestoSugerido_anual
        INSERT INTO admin.PresupuestoSugerido_anual (NIT, AnioPresupuesto, Total, usuario_insercion, fecha_insercion)
        VALUES (@NIT, @AnioPresupuesto, @Total, @UsuarioInsercion, GETDATE());
		
		
		BEGIN TRANSACTION;
        -- Procesar JSON para PresupuestoCosto
        INSERT INTO admin.PresupuestoCosto (NIT, Producto, CodigoProducto, Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre, Total, usuario_insercion, fecha_insercion, AnioPresupuesto)
        SELECT 
            JSON_VALUE(value, '$.Nit_Empresa') AS NIT,
            JSON_VALUE(value, '$.Producto') AS Producto,
			JSON_VALUE(value, '$.CodigoProducto') AS CodigoProducto,
            JSON_VALUE(value, '$.enero') AS Enero,
            JSON_VALUE(value, '$.febrero') AS Febrero,
            JSON_VALUE(value, '$.marzo') AS Marzo,
            JSON_VALUE(value, '$.abril') AS Abril,
            JSON_VALUE(value, '$.mayo') AS Mayo,
            JSON_VALUE(value, '$.junio') AS Junio,
            JSON_VALUE(value, '$.julio') AS Julio,
            JSON_VALUE(value, '$.agosto') AS Agosto,
            JSON_VALUE(value, '$.septiembre') AS Septiembre,
            JSON_VALUE(value, '$.octubre') AS Octubre,
            JSON_VALUE(value, '$.noviembre') AS Noviembre,
            JSON_VALUE(value, '$.diciembre') AS Diciembre,
            JSON_VALUE(value, '$.total') AS Total,
            @UsuarioInsercion AS usuario_insercion,
            GETDATE() AS fecha_insercion,
            @AnioPresupuesto AS AnioPresupuesto
        FROM OPENJSON(@JsonCosto);

        -- Procesar JSON para PresupuestoGasto
        INSERT INTO admin.PresupuestoGasto (NIT, Producto, CodigoProducto, Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre, Total, usuario_insercion, fecha_insercion, AnioPresupuesto)
        SELECT 
            JSON_VALUE(value, '$.Nit_Empresa') AS NIT,
            JSON_VALUE(value, '$.Producto') AS Producto,
			JSON_VALUE(value, '$.CodigoProducto') AS CodigoProducto,
            JSON_VALUE(value, '$.enero') AS Enero,
            JSON_VALUE(value, '$.febrero') AS Febrero,
            JSON_VALUE(value, '$.marzo') AS Marzo,
            JSON_VALUE(value, '$.abril') AS Abril,
            JSON_VALUE(value, '$.mayo') AS Mayo,
            JSON_VALUE(value, '$.junio') AS Junio,
            JSON_VALUE(value, '$.julio') AS Julio,
            JSON_VALUE(value, '$.agosto') AS Agosto,
            JSON_VALUE(value, '$.septiembre') AS Septiembre,
            JSON_VALUE(value, '$.octubre') AS Octubre,
            JSON_VALUE(value, '$.noviembre') AS Noviembre,
            JSON_VALUE(value, '$.diciembre') AS Diciembre,
            JSON_VALUE(value, '$.total') AS Total,
            @UsuarioInsercion AS usuario_insercion,
            GETDATE() AS fecha_insercion,
            @AnioPresupuesto AS AnioPresupuesto
        FROM OPENJSON(@JsonGasto);

        -- Procesar JSON para PresupuestoIngreso
        INSERT INTO admin.PresupuestoIngreso (NIT, Producto, CodigoProducto, Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre, Total, usuario_insercion, fecha_insercion, AnioPresupuesto)
        SELECT 
            JSON_VALUE(value, '$.Nit_Empresa') AS NIT,
            JSON_VALUE(value, '$.Producto') AS Producto,
			JSON_VALUE(value, '$.CodigoProducto') AS CodigoProducto,
            JSON_VALUE(value, '$.enero') AS Enero,
            JSON_VALUE(value, '$.febrero') AS Febrero,
            JSON_VALUE(value, '$.marzo') AS Marzo,
            JSON_VALUE(value, '$.abril') AS Abril,
            JSON_VALUE(value, '$.mayo') AS Mayo,
            JSON_VALUE(value, '$.junio') AS Junio,
            JSON_VALUE(value, '$.julio') AS Julio,
            JSON_VALUE(value, '$.agosto') AS Agosto,
            JSON_VALUE(value, '$.septiembre') AS Septiembre,
            JSON_VALUE(value, '$.octubre') AS Octubre,
            JSON_VALUE(value, '$.noviembre') AS Noviembre,
            JSON_VALUE(value, '$.diciembre') AS Diciembre,
            JSON_VALUE(value, '$.total') AS Total,
            @UsuarioInsercion AS usuario_insercion,
            GETDATE() AS fecha_insercion,
            @AnioPresupuesto AS AnioPresupuesto
        FROM OPENJSON(@JsonIngreso);

        -- Procesar JSON para PresupuestoSugerido
        INSERT INTO admin.PresupuestoSugerido (NIT, Producto, Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre, Total, usuario_insercion, fecha_insercion, AnioPresupuesto)
        SELECT 
            JSON_VALUE(value, '$.Nit_Empresa') AS NIT,
            JSON_VALUE(value, '$.Producto') AS Producto,
            JSON_VALUE(value, '$.enero') AS Enero,
            JSON_VALUE(value, '$.febrero') AS Febrero,
            JSON_VALUE(value, '$.marzo') AS Marzo,
            JSON_VALUE(value, '$.abril') AS Abril,
            JSON_VALUE(value, '$.mayo') AS Mayo,
            JSON_VALUE(value, '$.junio') AS Junio,
            JSON_VALUE(value, '$.julio') AS Julio,
            JSON_VALUE(value, '$.agosto') AS Agosto,
            JSON_VALUE(value, '$.septiembre') AS Septiembre,
            JSON_VALUE(value, '$.octubre') AS Octubre,
            JSON_VALUE(value, '$.noviembre') AS Noviembre,
            JSON_VALUE(value, '$.diciembre') AS Diciembre,
            JSON_VALUE(value, '$.total') AS Total,
            @UsuarioInsercion AS usuario_insercion,
            GETDATE() AS fecha_insercion,
            @AnioPresupuesto AS AnioPresupuesto
        FROM OPENJSON(@JsonSugerido);
		
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
		-- Capturar detalles del error
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Opcional: Insertar en una tabla de errores (Admin.error_logs)
        --IF OBJECT_ID('Admin.error_logs') IS NOT NULL
        BEGIN
            INSERT INTO Admin.error_logs (error_message, error_severity, error_state, timestamp)
            VALUES (@ErrorMessage, @ErrorSeverity, @ErrorState, GETDATE());
        END

        -- Lanzar el error capturado
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);

        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [admin].[sp_InsertOrUpdatePredicciones_x_producto]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [admin].[sp_InsertOrUpdatePredicciones_x_producto]
    @NIT_Empresa NVARCHAR(20),
    @Codigo_Producto NVARCHAR(50),
	@Nombre_Producto NVARCHAR(100),
    @JsonData NVARCHAR(MAX), -- Bloque de datos en formato JSON
    @Usuario NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Crear una tabla temporal para almacenar los datos del JSON
        CREATE TABLE #TempPredicciones (
            Año INT,
            Mes INT,
            Presupuesto_Predicho DECIMAL(18,2)
        );

        -- Procesar el JSON y cargarlo en la tabla temporal
        INSERT INTO #TempPredicciones (Año, Mes, Presupuesto_Predicho)
        SELECT 
            CAST(JSON_VALUE(value, '$.anio') AS INT) AS Año,
            CAST(JSON_VALUE(value, '$.mes') AS INT) AS Mes,
            CAST(JSON_VALUE(value, '$.prediccion') AS DECIMAL(18,2)) AS Presupuesto_Predicho
        FROM OPENJSON(@JsonData);

        -- Insertar o actualizar registros en la tabla "PrediccioneEmpresa_x_Producto"
        MERGE INTO Admin.PrediccioneEmpresa_x_Producto AS Target
        USING #TempPredicciones AS Source
        ON Target.NIT_Empresa = @NIT_Empresa
           AND Target.Codigo_Producto = @Codigo_Producto
           AND Target.Año = Source.Año
           AND Target.Mes = Source.Mes
        WHEN MATCHED THEN
            -- Actualizar el registro existente
            UPDATE SET 
                Presupuesto_Predicho = Source.Presupuesto_Predicho,
                Fecha_Actualizacion = GETDATE(),
                Usuario_Actualizador = @Usuario
        WHEN NOT MATCHED THEN
            -- Insertar un nuevo registro
            INSERT (NIT_Empresa, Codigo_Producto, Nombre_Producto, Año, Mes, Presupuesto_Predicho, Fecha_Creacion, Usuario_Creador)
            VALUES (@NIT_Empresa, @Codigo_Producto, @Nombre_Producto, Source.Año, Source.Mes, Source.Presupuesto_Predicho, GETDATE(), @Usuario);

        -- Limpiar la tabla temporal
        DROP TABLE #TempPredicciones;

    END TRY
    BEGIN CATCH
        -- Manejo de errores
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [admin].[sp_ObtenerTotalesDebitoCreditoPorMesAnio]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [admin].[sp_ObtenerTotalesDebitoCreditoPorMesAnio]
    @AnioBase INT,      -- Año base actual para calcular los últimos tres años
    @NIT NVARCHAR(50)   -- NIT de la empresa
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Imprimir los valores de los parámetros recibidos
        /*PRINT 'Parámetros recibidos:';  PRINT 'Año Base: ' + CAST(@AnioBase AS NVARCHAR); PRINT 'NIT: ' + @NIT;*/
        -- Consulta para sumar los valores por año y mes
        SELECT 
            YEAR(arc.Periodo) AS Anio,
            MONTH(arc.Periodo) AS Mes,
            DATENAME(MONTH, arc.Periodo) AS NombreMes,

            -- Nueva lógica: Sumar solo los valores donde CodigoCuenta tiene 4 dígitos
            SUM(CASE 
                    WHEN LEN(dat.CodigoCuenta) = 4 THEN dat.Debito 
                    ELSE 0 
                END) AS TotalDebito,

            SUM(CASE 
                    WHEN LEN(dat.CodigoCuenta) = 4 THEN dat.Credito 
                    ELSE 0 
                END) AS TotalCredito,

            -- Diferencia entre total Crédito y total Débito
            SUM(CASE 
                    WHEN LEN(dat.CodigoCuenta) = 4 THEN dat.Credito 
                    ELSE 0 
                END) - 
            SUM(CASE 
                    WHEN LEN(dat.CodigoCuenta) = 4 THEN dat.Debito 
                    ELSE 0 
                END) AS Diferencia

        FROM 
            admin.companies emp
            INNER JOIN admin.Archivos arc ON emp.company_id = arc.empresaId
            INNER JOIN admin.DatosContables dat ON dat.ArchivoID = arc.archivoId
        WHERE emp.tax_id = @NIT
            AND dat.CodigoCuenta LIKE '4%'
            AND YEAR(arc.Periodo) BETWEEN @AnioBase - 2 AND @AnioBase
        GROUP BY 
            YEAR(arc.Periodo),
            MONTH(arc.Periodo),
            DATENAME(MONTH, arc.Periodo)
        ORDER BY 
            YEAR(arc.Periodo) ASC,
            MONTH(arc.Periodo) ASC;

    END TRY
    BEGIN CATCH
        -- Manejo de errores
        PRINT 'Ocurrió un error:';
        PRINT 'Mensaje: ' + ERROR_MESSAGE();
        PRINT 'Número de Error: ' + CAST(ERROR_NUMBER() AS NVARCHAR);
        PRINT 'Estado: ' + CAST(ERROR_STATE() AS NVARCHAR);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [admin].[sp_ObtenerTotalesPorProductoMes]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [admin].[sp_ObtenerTotalesPorProductoMes]
    @AnioBase INT,      -- Año base
	@Periodo INT,      -- Mes base 
    @NIT NVARCHAR(50)   -- NIT de la empresa
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
		SELECT 
			dat.CodigoCuenta,
			dat.NombreCuenta,
			YEAR(arc.Periodo) AS Anio,
			MONTH(arc.Periodo) AS Mes,
			SUM(dat.debito) AS TotalDebito,
			SUM(dat.credito) AS TotalCredito,
			SUM(dat.credito) - SUM(dat.debito) AS TotalIngreso
		FROM admin.companies emp
		INNER JOIN admin.Archivos arc ON emp.company_id = arc.empresaId
		INNER JOIN admin.DatosContables dat ON dat.ArchivoID = arc.archivoId
		WHERE emp.tax_id = @NIT
		  AND dat.CodigoCuenta LIKE '4%'
		  AND LEN(dat.CodigoCuenta) >= 7
		  AND YEAR(arc.Periodo) = @AnioBase
		  AND MONTH(arc.Periodo) = @Periodo
		GROUP BY 
			dat.CodigoCuenta, 
			dat.NombreCuenta, 
			YEAR(arc.Periodo), 
			MONTH(arc.Periodo)
		ORDER BY 
			dat.CodigoCuenta, 
			Anio, 
			Mes;
	END TRY
		BEGIN CATCH			
			PRINT 'Ocurrió un error:';
			PRINT 'Mensaje: ' + ERROR_MESSAGE();
			PRINT 'Número de Error: ' + CAST(ERROR_NUMBER() AS NVARCHAR);
			PRINT 'Estado: ' + CAST(ERROR_STATE() AS NVARCHAR);
		END CATCH
	END;
GO
/****** Object:  StoredProcedure [admin].[sp_Presupuesto_IngresoSugerido_vs_IngresosMes]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [admin].[sp_Presupuesto_IngresoSugerido_vs_IngresosMes]
    @NIT NVARCHAR(20),
    @Anio INT,
    @Mes INT
AS
BEGIN TRY
    SET NOCOUNT ON;
    DECLARE @MesColumna NVARCHAR(50);
	DECLARE @ARCHIVOID INT;
    BEGIN
	SELECT @ARCHIVOID = ArchivoID
			FROM admin.Archivos
			WHERE YEAR(Periodo) = @Anio
			  AND MONTH(Periodo) = @Mes;

        -- Asignar el nombre de la columna del mes basado en el parámetro @Mes
        SET @MesColumna = CASE 
            WHEN @Mes = 1 THEN 'Enero'
            WHEN @Mes = 2 THEN 'Febrero'
            WHEN @Mes = 3 THEN 'Marzo'
            WHEN @Mes = 4 THEN 'Abril'
            WHEN @Mes = 5 THEN 'Mayo'
            WHEN @Mes = 6 THEN 'Junio'
            WHEN @Mes = 7 THEN 'Julio'
            WHEN @Mes = 8 THEN 'Agosto'
            WHEN @Mes = 9 THEN 'Septiembre'
            WHEN @Mes = 10 THEN 'Octubre'
            WHEN @Mes = 11 THEN 'Noviembre'
            WHEN @Mes = 12 THEN 'Diciembre'
            ELSE NULL
        END;

        -- Validar si el mes es válido
        IF @MesColumna IS NULL
        BEGIN
            RAISERROR ('El parámetro @Mes debe estar entre 1 y 12', 16, 1);
            RETURN;
        END;

        -- Crear tabla temporal para almacenar resultados
        CREATE TABLE #Resultados (
            CodigoCuenta NVARCHAR(50),
            NombreCuenta NVARCHAR(255),
            CodigoProducto NVARCHAR(50),
            ValorPresupuesto DECIMAL(18, 2),
            TotalIngreso DECIMAL(18, 2),
            Diferencia DECIMAL(18, 2),
            PorcentajeDiferencia DECIMAL(18, 2),
            Resultado NVARCHAR(50)
        );

        -- Insertar los datos comparados
        INSERT INTO #Resultados (CodigoCuenta, NombreCuenta, CodigoProducto, ValorPresupuesto, TotalIngreso, Diferencia, PorcentajeDiferencia, Resultado)
        SELECT 
            dc.CodigoCuenta,
            dc.NombreCuenta,
            pi.CodigoProducto,
            ISNULL(CAST(CASE 
                WHEN @MesColumna = 'Enero' THEN pi.Enero
                WHEN @MesColumna = 'Febrero' THEN pi.Febrero
                WHEN @MesColumna = 'Marzo' THEN pi.Marzo
                WHEN @MesColumna = 'Abril' THEN pi.Abril
                WHEN @MesColumna = 'Mayo' THEN pi.Mayo
                WHEN @MesColumna = 'Junio' THEN pi.Junio
                WHEN @MesColumna = 'Julio' THEN pi.Julio
                WHEN @MesColumna = 'Agosto' THEN pi.Agosto
                WHEN @MesColumna = 'Septiembre' THEN pi.Septiembre
                WHEN @MesColumna = 'Octubre' THEN pi.Octubre
                WHEN @MesColumna = 'Noviembre' THEN pi.Noviembre
                WHEN @MesColumna = 'Diciembre' THEN pi.Diciembre
            END AS DECIMAL(18, 2)), 0) AS ValorPresupuesto,
            (dc.Credito - dc.Debito) AS TotalIngreso,
            (dc.Credito - dc.Debito) - ISNULL(CAST(CASE 
                WHEN @MesColumna = 'Enero' THEN pi.Enero
                WHEN @MesColumna = 'Febrero' THEN pi.Febrero
                WHEN @MesColumna = 'Marzo' THEN pi.Marzo
                WHEN @MesColumna = 'Abril' THEN pi.Abril
                WHEN @MesColumna = 'Mayo' THEN pi.Mayo
                WHEN @MesColumna = 'Junio' THEN pi.Junio
                WHEN @MesColumna = 'Julio' THEN pi.Julio
                WHEN @MesColumna = 'Agosto' THEN pi.Agosto
                WHEN @MesColumna = 'Septiembre' THEN pi.Septiembre
                WHEN @MesColumna = 'Octubre' THEN pi.Octubre
                WHEN @MesColumna = 'Noviembre' THEN pi.Noviembre
                WHEN @MesColumna = 'Diciembre' THEN pi.Diciembre
            END AS DECIMAL(18, 2)), 0) AS Diferencia,
            CASE 
                WHEN ISNULL(CAST(CASE 
                    WHEN @MesColumna = 'Enero' THEN pi.Enero
                    WHEN @MesColumna = 'Febrero' THEN pi.Febrero
                    WHEN @MesColumna = 'Marzo' THEN pi.Marzo
                    WHEN @MesColumna = 'Abril' THEN pi.Abril
                    WHEN @MesColumna = 'Mayo' THEN pi.Mayo
                    WHEN @MesColumna = 'Junio' THEN pi.Junio
                    WHEN @MesColumna = 'Julio' THEN pi.Julio
                    WHEN @MesColumna = 'Agosto' THEN pi.Agosto
                    WHEN @MesColumna = 'Septiembre' THEN pi.Septiembre
                    WHEN @MesColumna = 'Octubre' THEN pi.Octubre
                    WHEN @MesColumna = 'Noviembre' THEN pi.Noviembre
                    WHEN @MesColumna = 'Diciembre' THEN pi.Diciembre
                END AS DECIMAL(18, 2)), 0) = 0 THEN NULL
                ELSE ((dc.Credito - dc.Debito) - ISNULL(CAST(CASE 
                    WHEN @MesColumna = 'Enero' THEN pi.Enero
                    WHEN @MesColumna = 'Febrero' THEN pi.Febrero
                    WHEN @MesColumna = 'Marzo' THEN pi.Marzo
                    WHEN @MesColumna = 'Abril' THEN pi.Abril
                    WHEN @MesColumna = 'Mayo' THEN pi.Mayo
                    WHEN @MesColumna = 'Junio' THEN pi.Junio
                    WHEN @MesColumna = 'Julio' THEN pi.Julio
                    WHEN @MesColumna = 'Agosto' THEN pi.Agosto
                    WHEN @MesColumna = 'Septiembre' THEN pi.Septiembre
                    WHEN @MesColumna = 'Octubre' THEN pi.Octubre
                    WHEN @MesColumna = 'Noviembre' THEN pi.Noviembre
                    WHEN @MesColumna = 'Diciembre' THEN pi.Diciembre
                END AS DECIMAL(18, 2)), 0)) / CAST(CASE 
                    WHEN @MesColumna = 'Enero' THEN pi.Enero
                    WHEN @MesColumna = 'Febrero' THEN pi.Febrero
                    WHEN @MesColumna = 'Marzo' THEN pi.Marzo
                    WHEN @MesColumna = 'Abril' THEN pi.Abril
                    WHEN @MesColumna = 'Mayo' THEN pi.Mayo
                    WHEN @MesColumna = 'Junio' THEN pi.Junio
                    WHEN @MesColumna = 'Julio' THEN pi.Julio
                    WHEN @MesColumna = 'Agosto' THEN pi.Agosto
                    WHEN @MesColumna = 'Septiembre' THEN pi.Septiembre
                    WHEN @MesColumna = 'Octubre' THEN pi.Octubre
                    WHEN @MesColumna = 'Noviembre' THEN pi.Noviembre
                    WHEN @MesColumna = 'Diciembre' THEN pi.Diciembre
                END AS DECIMAL(18, 2)) * 100
            END AS PorcentajeDiferencia,
            CASE 
                WHEN ((dc.Credito - dc.Debito) - ISNULL(CAST(CASE 
                    WHEN @MesColumna = 'Enero' THEN pi.Enero
                    WHEN @MesColumna = 'Febrero' THEN pi.Febrero
                    WHEN @MesColumna = 'Marzo' THEN pi.Marzo
                    WHEN @MesColumna = 'Abril' THEN pi.Abril
                    WHEN @MesColumna = 'Mayo' THEN pi.Mayo
                    WHEN @MesColumna = 'Junio' THEN pi.Junio
                    WHEN @MesColumna = 'Julio' THEN pi.Julio
                    WHEN @MesColumna = 'Agosto' THEN pi.Agosto
                    WHEN @MesColumna = 'Septiembre' THEN pi.Septiembre
                    WHEN @MesColumna = 'Octubre' THEN pi.Octubre
                    WHEN @MesColumna = 'Noviembre' THEN pi.Noviembre
                    WHEN @MesColumna = 'Diciembre' THEN pi.Diciembre
                END AS DECIMAL(18, 2)), 0)) > 0 THEN 'Incremento'
                ELSE 'Decremento'
            END AS Resultado
        FROM admin.datosContables dc
        LEFT JOIN Admin.PresupuestoIngreso pi
            ON dc.CodigoCuenta = pi.CodigoProducto
        WHERE dc.ArchivoID=@ARCHIVOID
			and pi.AnioPresupuesto = @Anio
          AND pi.NIT = @NIT;

        -- Retornar los resultados
        SELECT * FROM #Resultados;

        -- Limpiar tabla temporal
        DROP TABLE #Resultados;
    END;
END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0
    BEGIN
        ROLLBACK TRANSACTION;
    END;

    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH;
GO
/****** Object:  StoredProcedure [admin].[sp_SaveDatoContable]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [admin].[sp_SaveDatoContable]
	@ArchivoID INT,
    @Transaccional BIT,
    @CodigoCuenta NVARCHAR(50),
    @NombreCuenta NVARCHAR(255),
    @SaldoInicial DECIMAL(18, 2),
    @Debito DECIMAL(18, 2),
    @Credito DECIMAL(18, 2),
    @SaldoFinal DECIMAL(18, 2)

AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
	DECLARE @NivelID NVARCHAR(100);

	

    BEGIN TRY	
		SET @NivelID = CASE 
			WHEN LEN(@CodigoCuenta) = 1 THEN 'Clase'
			WHEN LEN(@CodigoCuenta) = 2 THEN 'Grupo'
			WHEN LEN(@CodigoCuenta) = 3 THEN 'Cuenta'
			WHEN LEN(@CodigoCuenta) = 4 THEN 'SubCuenta'
			WHEN LEN(@CodigoCuenta) >= 5 THEN 'Auxiliar'
			ELSE 'Desconocido'
		END;

        -- Validar que el ArchivoID exista
        IF NOT EXISTS (SELECT 1 FROM Admin.Archivos WHERE ArchivoID = @ArchivoID)
        BEGIN
            RAISERROR('El archivo especificado no existe.', 16, 1);
        END

        -- Insertar el nuevo dato contable
        INSERT INTO Admin.DatosContables (
            ArchivoID, NivelID, Transaccional, CodigoCuenta, NombreCuenta, SaldoInicial, Debito, Credito, SaldoFinal
        )
        VALUES (
            @ArchivoID, @NivelID, @Transaccional, @CodigoCuenta, @NombreCuenta, @SaldoInicial, @Debito, @Credito, @SaldoFinal
        );

        -- Retornar mensaje de éxito
        SELECT 'El dato contable se ha guardado correctamente.' AS Mensaje;
    END TRY
    BEGIN CATCH
        -- Capturar y manejar los errores
        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ErrorSeverity = ERROR_SEVERITY();
        SET @ErrorState = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [admin].[sp_UpdateCompany]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para actualizar una empresa
CREATE   PROCEDURE [admin].[sp_UpdateCompany]
    @company_id INT,
    @company_name NVARCHAR(100),
    @tax_identification_type NVARCHAR(10),
    @tax_id NVARCHAR(20),
    @email NVARCHAR(100) = NULL,
    @num_employees INT = NULL,
    @company_type NVARCHAR(50) = NULL,
    @address NVARCHAR(200) = NULL,
    @phone NVARCHAR(20) = NULL,
    @status NVARCHAR(20) = NULL,
    @subscription_type NVARCHAR(20) = NULL,
    @subscription_end_date DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM admin.Companies WHERE company_id = @company_id)
            THROW 50000, 'La empresa no existe.', 1;

        IF EXISTS (SELECT 1 FROM admin.Companies 
                  WHERE tax_identification_type = @tax_identification_type 
                  AND tax_id = @tax_id 
                  AND company_id != @company_id)
            THROW 50000, 'La combinación de tipo y número de identificación fiscal ya existe para otra empresa.', 1;

        UPDATE admin.Companies
        SET 
            company_name = @company_name,
            tax_identification_type = @tax_identification_type,
            tax_id = @tax_id,
            email = @email,
            num_employees = @num_employees,
            company_type = @company_type,
            address = @address,
            phone = @phone,
            status = ISNULL(@status, status),
            subscription_type = ISNULL(@subscription_type, subscription_type),
            subscription_end_date = ISNULL(@subscription_end_date, subscription_end_date),
            updated_at = GETDATE()
        WHERE company_id = @company_id;

        SELECT @company_id as company_id;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [admin].[sp_validateUsersCredentials]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para verificar credenciales
CREATE   PROCEDURE [admin].[sp_validateUsersCredentials]
    @email NVARCHAR(100),
    @password NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Verificar si existe el usuario con las credenciales proporcionadas
        IF NOT EXISTS (
            SELECT 1 
            FROM admin.Users 
            WHERE email = @email 
            AND password_hash = @password 
            AND active = 1
        )
        BEGIN
            -- Si no existe, lanzar error
            THROW 50001, 'Credenciales inválidas', 1;
            RETURN;
        END

        -- Si existe, retornar los datos específicos solicitados
        SELECT 
            u.user_id,
            u.company_id,
            u.role_id,
            u.email,
            u.created_at,
            c.company_name,
            c.tax_id,
			'free' as subscription_type, 
			1 as subscription_id
            --c.subscription_type
            --c.subscription_id
        FROM admin.Users u
        INNER JOIN admin.Companies c ON u.company_id = c.company_id
        WHERE u.email = @email 
        AND u.active = 1
        AND c.active = 1;

        -- Retornar código de éxito
        RETURN 0;
    END TRY
    BEGIN CATCH
        THROW;
        RETURN -1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerTotalesDebitoCreditoPorAnio]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerTotalesDebitoCreditoPorAnio]
    @Mes INT,          -- Mes a consultar
    @AnioBase INT      -- Año base actual para calcular los últimos tres años
AS
BEGIN
    SET NOCOUNT ON;

    -- Consulta para sumar los valores por año
    SELECT 
        YEAR(arc.Periodo) AS Anio,
        SUM(dat.Debito) AS TotalDebito,
        SUM(dat.Credito) AS TotalCredito,
        SUM(dat.Debito) - SUM(dat.Credito) AS Diferencia
    FROM 
        admin.empresas emp
        INNER JOIN admin.Archivos arc ON emp.empresaId = arc.empresaId
        INNER JOIN admin.DatosContables dat ON dat.ArchivoID = arc.archivoId
    WHERE
        dat.CodigoCuenta LIKE '4%'
        AND MONTH(arc.Periodo) = @Mes
        AND YEAR(arc.Periodo) BETWEEN @AnioBase - 2 AND @AnioBase
    GROUP BY 
        YEAR(arc.Periodo)
    ORDER BY 
        YEAR(arc.Periodo) DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerTotalIngresoXMes]    Script Date: 1/15/2025 6:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerTotalIngresoXMes]
    @Mes INT,          -- Mes a consultar
    @AnioBase INT      -- Año base actual para calcular los últimos tres años
AS
BEGIN
    SET NOCOUNT ON;
    -- Declaración de variables para los totales
    DECLARE @TotalDebito DECIMAL(18, 2);
    DECLARE @TotalCredito DECIMAL(18, 2);
    DECLARE @Diferencia DECIMAL(18, 2);

    -- Cálculo de totales
    SELECT 
        @TotalDebito = SUM(dat.Debito),
        @TotalCredito = SUM(dat.Credito)
    FROM 
        admin.empresas emp
        INNER JOIN admin.Archivos arc ON emp.empresaId = arc.empresaId
        INNER JOIN admin.DatosContables dat ON dat.ArchivoID = arc.archivoId
    WHERE
        dat.CodigoCuenta LIKE '4%'
        AND MONTH(arc.Periodo) = @Mes
        AND YEAR(arc.Periodo) BETWEEN @AnioBase - 2 AND @AnioBase;

    -- Cálculo de la diferencia
    SET @Diferencia = @TotalDebito - @TotalCredito;

    -- Retorno de los resultados
    SELECT 
        @TotalDebito AS TotalDebito, 
        @TotalCredito AS TotalCredito, 
        @Diferencia AS Diferencia;
END;
GO
USE [master]
GO
