USE [EBR]
GO
/****** Object:  Table [Admin].[Archivos]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[Archivos](
	[ArchivoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreArchivo] [nvarchar](255) NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[Periodo] [date] NOT NULL,
	[FechaCarga] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ArchivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[AuditLog]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[AuditLog](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action_type] [nvarchar](50) NOT NULL,
	[table_name] [nvarchar](50) NOT NULL,
	[record_id] [nvarchar](50) NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[ip_address] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Admin].[Companies]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[Companies](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [nvarchar](100) NOT NULL,
	[tax_identification_type] [nvarchar](10) NOT NULL,
	[tax_id] [nvarchar](20) NOT NULL,
	[email] [nvarchar](100) NULL,
	[num_employees] [int] NULL,
	[company_type] [nvarchar](50) NULL,
	[address] [nvarchar](200) NULL,
	[phone] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[subscription_id] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tax_id] UNIQUE NONCLUSTERED 
(
	[tax_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tax_id_type] UNIQUE NONCLUSTERED 
(
	[tax_identification_type] ASC,
	[tax_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[DatosContables]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[DatosContables](
	[DatoID] [int] IDENTITY(1,1) NOT NULL,
	[ArchivoID] [int] NOT NULL,
	[NivelID] [nvarchar](100) NOT NULL,
	[Transaccional] [bit] NOT NULL,
	[CodigoCuenta] [nvarchar](50) NOT NULL,
	[NombreCuenta] [nvarchar](255) NOT NULL,
	[SaldoInicial] [decimal](18, 2) NOT NULL,
	[Debito] [decimal](18, 2) NOT NULL,
	[Credito] [decimal](18, 2) NOT NULL,
	[SaldoFinal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DatoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[EmpresaSubscripciones]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[EmpresaSubscripciones](
	[EmpresaSubscripcionID] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[SubscripcionID] [int] NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpresaSubscripcionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[error_logs]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[error_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[error_message] [nvarchar](4000) NULL,
	[error_severity] [int] NULL,
	[error_state] [int] NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[Funcionalidades]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[Funcionalidades](
	[FuncionalidadID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[FuncionalidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[logs]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime] NULL,
	[user_id] [int] NULL,
	[action_type] [nvarchar](50) NULL,
	[action_details] [nvarchar](max) NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](max) NULL,
	[error] [bit] NULL,
	[error_details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Admin].[logs_bakend]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[logs_bakend](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime] NULL,
	[user_id] [int] NULL,
	[action_type] [nvarchar](50) NULL,
	[action_details] [nvarchar](max) NULL,
	[error] [bit] NULL,
	[error_details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Admin].[Permissions]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[Permissions](
	[permission_id] [int] IDENTITY(1,1) NOT NULL,
	[permission_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[permission_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[PrediccioneEmpresa_x_Producto]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[PrediccioneEmpresa_x_Producto](
	[ID_Prediccion] [int] IDENTITY(1,1) NOT NULL,
	[NIT_Empresa] [nvarchar](20) NOT NULL,
	[Codigo_Producto] [nvarchar](50) NOT NULL,
	[Nombre_Producto] [nvarchar](50) NOT NULL,
	[Año] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[Presupuesto_Predicho] [decimal](18, 2) NOT NULL,
	[Fecha_Creacion] [datetime] NOT NULL,
	[Usuario_Creador] [nvarchar](100) NOT NULL,
	[Fecha_Actualizacion] [datetime] NULL,
	[Usuario_Actualizador] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Prediccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[PrediccionesPresupuesto_x_Empresa]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[PrediccionesPresupuesto_x_Empresa](
	[Nit_Empresa] [nvarchar](20) NOT NULL,
	[Anio_Prediccion] [int] NOT NULL,
	[Mes] [nvarchar](20) NOT NULL,
	[Valor_Predicho] [decimal](18, 2) NOT NULL,
	[Tendencia] [nvarchar](50) NOT NULL,
	[Coeficiente_Diferencia] [decimal](18, 2) NOT NULL,
	[Fecha_Generacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Nit_Empresa] ASC,
	[Anio_Prediccion] ASC,
	[Mes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[PresupuestoCosto]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[PresupuestoCosto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NIT] [nvarchar](20) NOT NULL,
	[Producto] [nvarchar](50) NULL,
	[CodigoProducto] [nvarchar](20) NULL,
	[Enero] [decimal](18, 2) NULL,
	[Febrero] [decimal](18, 2) NULL,
	[Marzo] [decimal](18, 2) NULL,
	[Abril] [decimal](18, 2) NULL,
	[Mayo] [decimal](18, 2) NULL,
	[Junio] [decimal](18, 2) NULL,
	[Julio] [decimal](18, 2) NULL,
	[Agosto] [decimal](18, 2) NULL,
	[Septiembre] [decimal](18, 2) NULL,
	[Octubre] [decimal](18, 2) NULL,
	[Noviembre] [decimal](18, 2) NULL,
	[Diciembre] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[usuario_insercion] [nvarchar](50) NOT NULL,
	[fecha_insercion] [datetime2](7) NOT NULL,
	[AnioPresupuesto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[PresupuestoGasto]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[PresupuestoGasto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NIT] [nvarchar](20) NOT NULL,
	[Producto] [nvarchar](50) NULL,
	[CodigoProducto] [nvarchar](20) NULL,
	[Enero] [decimal](18, 2) NULL,
	[Febrero] [decimal](18, 2) NULL,
	[Marzo] [decimal](18, 2) NULL,
	[Abril] [decimal](18, 2) NULL,
	[Mayo] [decimal](18, 2) NULL,
	[Junio] [decimal](18, 2) NULL,
	[Julio] [decimal](18, 2) NULL,
	[Agosto] [decimal](18, 2) NULL,
	[Septiembre] [decimal](18, 2) NULL,
	[Octubre] [decimal](18, 2) NULL,
	[Noviembre] [decimal](18, 2) NULL,
	[Diciembre] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[usuario_insercion] [nvarchar](50) NOT NULL,
	[fecha_insercion] [datetime2](7) NOT NULL,
	[AnioPresupuesto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[PresupuestoIngreso]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[PresupuestoIngreso](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NIT] [nvarchar](20) NOT NULL,
	[Producto] [nvarchar](50) NULL,
	[CodigoProducto] [nvarchar](20) NULL,
	[Enero] [decimal](18, 2) NULL,
	[Febrero] [decimal](18, 2) NULL,
	[Marzo] [decimal](18, 2) NULL,
	[Abril] [decimal](18, 2) NULL,
	[Mayo] [decimal](18, 2) NULL,
	[Junio] [decimal](18, 2) NULL,
	[Julio] [decimal](18, 2) NULL,
	[Agosto] [decimal](18, 2) NULL,
	[Septiembre] [decimal](18, 2) NULL,
	[Octubre] [decimal](18, 2) NULL,
	[Noviembre] [decimal](18, 2) NULL,
	[Diciembre] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[usuario_insercion] [nvarchar](50) NOT NULL,
	[fecha_insercion] [datetime2](7) NOT NULL,
	[AnioPresupuesto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[PresupuestoSugerido]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[PresupuestoSugerido](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NIT] [nvarchar](20) NOT NULL,
	[Producto] [nvarchar](50) NULL,
	[Enero] [decimal](18, 2) NULL,
	[Febrero] [decimal](18, 2) NULL,
	[Marzo] [decimal](18, 2) NULL,
	[Abril] [decimal](18, 2) NULL,
	[Mayo] [decimal](18, 2) NULL,
	[Junio] [decimal](18, 2) NULL,
	[Julio] [decimal](18, 2) NULL,
	[Agosto] [decimal](18, 2) NULL,
	[Septiembre] [decimal](18, 2) NULL,
	[Octubre] [decimal](18, 2) NULL,
	[Noviembre] [decimal](18, 2) NULL,
	[Diciembre] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[usuario_insercion] [nvarchar](50) NOT NULL,
	[fecha_insercion] [datetime2](7) NOT NULL,
	[AnioPresupuesto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[PresupuestoSugerido_anual]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[PresupuestoSugerido_anual](
	[NIT] [nvarchar](20) NOT NULL,
	[AnioPresupuesto] [int] NOT NULL,
	[Total] [decimal](18, 2) NULL,
	[usuario_insercion] [nvarchar](50) NOT NULL,
	[fecha_insercion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NIT] ASC,
	[AnioPresupuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[RolePermissions]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[RolePermissions](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[Roles]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[SalaryAndInflationData]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[SalaryAndInflationData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Anio] [int] NOT NULL,
	[ValorSalario] [decimal](18, 2) NOT NULL,
	[PorcentajeIncremento] [decimal](5, 2) NOT NULL,
	[ValorSubsidioTransporte] [decimal](18, 2) NOT NULL,
	[PorcentajeInflacion] [decimal](5, 2) NOT NULL,
	[PorcentajeAuxTransporte] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[SubscripcionFuncionalidades]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[SubscripcionFuncionalidades](
	[SubscripcionFuncionalidadID] [int] IDENTITY(1,1) NOT NULL,
	[SubscripcionID] [int] NOT NULL,
	[FuncionalidadID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubscripcionFuncionalidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[subscription]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[subscription](
	[id_subscription] [int] IDENTITY(1,1) NOT NULL,
	[subscription_name] [nvarchar](20) NOT NULL,
	[description_time] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_subscription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[Users]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[last_login] [datetime] NULL,
	[login_attempts] [int] NULL,
	[password_reset_token] [nvarchar](255) NULL,
	[password_reset_expires] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Admin].[UsuariosRoles]    Script Date: 20/01/2025 5:56:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Admin].[UsuariosRoles](
	[UsuarioRolID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[RolID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioRolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Admin].[Archivos] ADD  DEFAULT (getdate()) FOR [FechaCarga]
GO
ALTER TABLE [Admin].[AuditLog] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [Admin].[Companies] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [Admin].[Companies] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [Admin].[Companies] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [Admin].[Companies] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [Admin].[EmpresaSubscripciones] ADD  DEFAULT (getdate()) FOR [FechaInicio]
GO
ALTER TABLE [Admin].[error_logs] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [Admin].[logs] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [Admin].[logs] ADD  DEFAULT ((0)) FOR [error]
GO
ALTER TABLE [Admin].[logs_bakend] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [Admin].[logs_bakend] ADD  DEFAULT ((0)) FOR [error]
GO
ALTER TABLE [Admin].[Permissions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [Admin].[PrediccioneEmpresa_x_Producto] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [Admin].[PrediccionesPresupuesto_x_Empresa] ADD  DEFAULT (getdate()) FOR [Fecha_Generacion]
GO
ALTER TABLE [Admin].[RolePermissions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [Admin].[Roles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [Admin].[subscription] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [Admin].[Users] ADD  DEFAULT ((0)) FOR [login_attempts]
GO
ALTER TABLE [Admin].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [Admin].[Users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [Admin].[Users] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [Admin].[Archivos]  WITH CHECK ADD FOREIGN KEY([EmpresaID])
REFERENCES [Admin].[Companies] ([company_id])
GO
ALTER TABLE [Admin].[AuditLog]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [Admin].[Users] ([user_id])
GO
ALTER TABLE [Admin].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Companies_Subscription] FOREIGN KEY([subscription_id])
REFERENCES [Admin].[subscription] ([id_subscription])
GO
ALTER TABLE [Admin].[Companies] CHECK CONSTRAINT [FK_Companies_Subscription]
GO
ALTER TABLE [Admin].[DatosContables]  WITH CHECK ADD FOREIGN KEY([ArchivoID])
REFERENCES [Admin].[Archivos] ([ArchivoID])
GO
ALTER TABLE [Admin].[EmpresaSubscripciones]  WITH CHECK ADD FOREIGN KEY([EmpresaID])
REFERENCES [Admin].[Companies] ([company_id])
GO
ALTER TABLE [Admin].[EmpresaSubscripciones]  WITH CHECK ADD FOREIGN KEY([SubscripcionID])
REFERENCES [Admin].[subscription] ([id_subscription])
GO
ALTER TABLE [Admin].[PresupuestoCosto]  WITH CHECK ADD FOREIGN KEY([NIT], [AnioPresupuesto])
REFERENCES [Admin].[PresupuestoSugerido_anual] ([NIT], [AnioPresupuesto])
GO
ALTER TABLE [Admin].[PresupuestoGasto]  WITH CHECK ADD FOREIGN KEY([NIT], [AnioPresupuesto])
REFERENCES [Admin].[PresupuestoSugerido_anual] ([NIT], [AnioPresupuesto])
GO
ALTER TABLE [Admin].[PresupuestoIngreso]  WITH CHECK ADD FOREIGN KEY([NIT], [AnioPresupuesto])
REFERENCES [Admin].[PresupuestoSugerido_anual] ([NIT], [AnioPresupuesto])
GO
ALTER TABLE [Admin].[PresupuestoSugerido]  WITH CHECK ADD FOREIGN KEY([NIT], [AnioPresupuesto])
REFERENCES [Admin].[PresupuestoSugerido_anual] ([NIT], [AnioPresupuesto])
GO
ALTER TABLE [Admin].[PresupuestoSugerido_anual]  WITH CHECK ADD  CONSTRAINT [FK_PresupuestoSugerido_anual_NIT] FOREIGN KEY([NIT])
REFERENCES [Admin].[Companies] ([tax_id])
GO
ALTER TABLE [Admin].[PresupuestoSugerido_anual] CHECK CONSTRAINT [FK_PresupuestoSugerido_anual_NIT]
GO
ALTER TABLE [Admin].[RolePermissions]  WITH CHECK ADD FOREIGN KEY([permission_id])
REFERENCES [Admin].[Permissions] ([permission_id])
GO
ALTER TABLE [Admin].[RolePermissions]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [Admin].[Roles] ([role_id])
GO
ALTER TABLE [Admin].[SubscripcionFuncionalidades]  WITH CHECK ADD FOREIGN KEY([FuncionalidadID])
REFERENCES [Admin].[Funcionalidades] ([FuncionalidadID])
GO
ALTER TABLE [Admin].[SubscripcionFuncionalidades]  WITH CHECK ADD FOREIGN KEY([SubscripcionID])
REFERENCES [Admin].[subscription] ([id_subscription])
GO
ALTER TABLE [Admin].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Companies] FOREIGN KEY([company_id])
REFERENCES [Admin].[Companies] ([company_id])
GO
ALTER TABLE [Admin].[Users] CHECK CONSTRAINT [FK_Users_Companies]
GO
ALTER TABLE [Admin].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([role_id])
REFERENCES [Admin].[Roles] ([role_id])
GO
ALTER TABLE [Admin].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [Admin].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Subscription] FOREIGN KEY([role_id])
REFERENCES [Admin].[subscription] ([id_subscription])
GO
ALTER TABLE [Admin].[Users] CHECK CONSTRAINT [FK_Users_Subscription]
GO
ALTER TABLE [Admin].[UsuariosRoles]  WITH CHECK ADD FOREIGN KEY([RolID])
REFERENCES [Admin].[Roles] ([role_id])
GO
ALTER TABLE [Admin].[UsuariosRoles]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [Admin].[Users] ([user_id])
GO
ALTER TABLE [Admin].[PrediccioneEmpresa_x_Producto]  WITH CHECK ADD CHECK  (([Mes]>=(1) AND [Mes]<=(12)))
GO
